<div class="container mx-auto flex justify-center pt-32 px-4">
  <div class="bg-gray-200 w-full max-w-lg rounded overflow-hidden shadow-lg px-6 py-6 bg-white">
    <h2 class="font-handwritten text-3xl pb-4">
      {{t "login.heading"}}
    </h2>
    <ValidatedForm @model={{changeset this.model this.UserValidations}} @on-submit={{perform this.login}} @on-invalid-submit={{this.foo}} as |f|>
      <f.input @name="username" @label={{t "models.user.username"}} />
      <f.input @name="password" @label={{t "models.user.password"}} type="password" />
      <f.submit @label={{t "login.submit"}} />
    </ValidatedForm>
    {{#if this.errorMessage}}
    <div class="bg-red-100 border border-red-500 text-red-700 w-full max-w-lg rounded overflow-hidden px-6 py-6 my-6"
      role="alert">
      <p>
        {{t "login.invalidCredentials"}}
      </p>
    </div>
    {{/if}}
  </div>
</div>